.new-tweet {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* new tweet form */
.new-tweet form {
  width:90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* tweet text question */
.new-tweet label {
  font-weight: 700;
}

/* tweet text input */
.new-tweet textarea {
  width: 100%;
  height: 3rem;
  border: 0;
  border-bottom:solid #545149;
  border-width: thick;
  resize: none;
  outline: none;
  background-color: #f4f1ec;
  font-weight: 700;
}

/* Tweet button */
.new-tweet button {
  background-color:#4056A1;
  outline: none;
  font-family: Bungee;
  color: #FFFF;
  border: 0;
}

/* Character counter */
.counter #remainingChars {
  font-family: Bungee;
  float: right;
}

/* error message */
.new-tweet p {
  margin: 0.5em 0;
  color: brown;
}
